Drum_samples/kick/Bass Sample 1.wav
Drum_samples/kick/Bass Sample 2.wav
Drum_samples/kick/Bass Sample 3.wav
Drum_samples/kick/Bass Sample 4.wav
Drum_samples/kick/Bass Sample 5.wav
Drum_samples/kick/Bass Sample 6.wav
Drum_samples/kick/Bass Sample 7.wav
Drum_samples/kick/Bass Sample 8.wav
Drum_samples/kick/Bass Sample 9.wav
Drum_samples/kick/Bass Sample 10.wav
Drum_samples/kick/Bass Sample 11.wav
Drum_samples/kick/Bass Sample 12.wav
Drum_samples/kick/Bass Sample 13.wav
Drum_samples/kick/Bass Sample 14.wav
Drum_samples/kick/Bass Sample 15.wav
Drum_samples/kick/Bass Sample 16.wav
Drum_samples/kick/Bass Sample 17.wav
Drum_samples/kick/Bass Sample 18.wav
Drum_samples/kick/Bass Sample 19.wav
Drum_samples/kick/Bass Sample 20.wav
Drum_samples/kick/Bass Sample 21.wav
Drum_samples/kick/Bass Sample 22.wav
Drum_samples/kick/Bass Sample 23.wav
Drum_samples/kick/Bass Sample 24.wav
Drum_samples/kick/Bass Sample 25.wav
Drum_samples/kick/Bass Sample 26.wav
Drum_samples/kick/Bass Sample 27.wav
Drum_samples/kick/Bass Sample 28.wav
Drum_samples/kick/Bass Sample 29.wav
Drum_samples/kick/Bass Sample 30.wav
Drum_samples/kick/Bass Sample 31.wav
Drum_samples/kick/Bass Sample 32.wav
Drum_samples/kick/Bass Sample 33.wav
Drum_samples/kick/Bass Sample 34.wav
Drum_samples/kick/Bass Sample 35.wav
Drum_samples/kick/Bass Sample 36.wav
Drum_samples/kick/Bass Sample 37.wav
Drum_samples/kick/Bass Sample 38.wav
Drum_samples/kick/Bass Sample 39.wav
Drum_samples/kick/Bass Sample 40.wav
Drum_samples/overheads/Overhead Sample 1.wav
Drum_samples/overheads/Overhead Sample 2.wav
Drum_samples/overheads/Overhead Sample 3.wav
Drum_samples/overheads/Overhead Sample 4.wav
Drum_samples/overheads/Overhead Sample 5.wav
Drum_samples/overheads/Overhead Sample 6.wav
Drum_samples/overheads/Overhead Sample 7.wav
Drum_samples/overheads/Overhead Sample 8.wav
Drum_samples/overheads/Overhead Sample 9.wav
Drum_samples/overheads/Overhead Sample 10.wav
Drum_samples/overheads/Overhead Sample 11.wav
Drum_samples/overheads/Overhead Sample 12.wav
Drum_samples/overheads/Overhead Sample 13.wav
Drum_samples/overheads/Overhead Sample 14.wav
Drum_samples/overheads/Overhead Sample 15.wav
Drum_samples/overheads/Overhead Sample 16.wav
Drum_samples/overheads/Overhead Sample 17.wav
Drum_samples/overheads/Overhead Sample 18.wav
Drum_samples/overheads/Overhead Sample 19.wav
Drum_samples/overheads/Overhead Sample 20.wav
Drum_samples/overheads/Overhead Sample 21.wav
Drum_samples/overheads/Overhead Sample 22.wav
Drum_samples/overheads/Overhead Sample 23.wav
Drum_samples/overheads/Overhead Sample 24.wav
Drum_samples/overheads/Overhead Sample 25.wav
Drum_samples/overheads/Overhead Sample 26.wav
Drum_samples/overheads/Overhead Sample 27.wav
Drum_samples/overheads/Overhead Sample 28.wav
Drum_samples/overheads/Overhead Sample 29.wav
Drum_samples/overheads/Overhead Sample 30.wav
Drum_samples/overheads/Overhead Sample 31.wav
Drum_samples/overheads/Overhead Sample 32.wav
Drum_samples/overheads/Overhead Sample 33.wav
Drum_samples/overheads/Overhead Sample 34.wav
Drum_samples/overheads/Overhead Sample 35.wav
Drum_samples/overheads/Overhead Sample 36.wav
Drum_samples/overheads/Overhead Sample 37.wav
Drum_samples/overheads/Overhead Sample 38.wav
Drum_samples/overheads/Overhead Sample 39.wav
Drum_samples/overheads/Overhead Sample 40.wav
Drum_samples/snare/Snare Sample 1.wav
Drum_samples/snare/Snare Sample 2.wav
Drum_samples/snare/Snare Sample 3.wav
Drum_samples/snare/Snare Sample 4.wav
Drum_samples/snare/Snare Sample 5.wav
Drum_samples/snare/Snare Sample 6.wav
Drum_samples/snare/Snare Sample 7.wav
Drum_samples/snare/Snare Sample 8.wav
Drum_samples/snare/Snare Sample 9.wav
Drum_samples/snare/Snare Sample 10.wav
Drum_samples/snare/Snare Sample 11.wav
Drum_samples/snare/Snare Sample 12.wav
Drum_samples/snare/Snare Sample 13.wav
Drum_samples/snare/Snare Sample 14.wav
Drum_samples/snare/Snare Sample 15.wav
Drum_samples/snare/Snare Sample 16.wav
Drum_samples/snare/Snare Sample 17.wav
Drum_samples/snare/Snare Sample 18.wav
Drum_samples/snare/Snare Sample 19.wav
Drum_samples/snare/Snare Sample 20.wav
Drum_samples/snare/Snare Sample 21.wav
Drum_samples/snare/Snare Sample 22.wav
Drum_samples/snare/Snare Sample 23.wav
Drum_samples/snare/Snare Sample 24.wav
Drum_samples/snare/Snare Sample 25.wav
Drum_samples/snare/Snare Sample 26.wav
Drum_samples/snare/Snare Sample 27.wav
Drum_samples/snare/Snare Sample 28.wav
Drum_samples/snare/Snare Sample 29.wav
Drum_samples/snare/Snare Sample 30.wav
Drum_samples/snare/Snare Sample 31.wav
Drum_samples/snare/Snare Sample 32.wav
Drum_samples/snare/Snare Sample 33.wav
Drum_samples/snare/Snare Sample 34.wav
Drum_samples/snare/Snare Sample 35.wav
Drum_samples/snare/Snare Sample 36.wav
Drum_samples/snare/Snare Sample 37.wav
Drum_samples/snare/Snare Sample 38.wav
Drum_samples/snare/Snare Sample 39.wav
Drum_samples/snare/Snare Sample 40.wav
Drum_samples/toms/Tom Sample 1.wav
Drum_samples/toms/Tom Sample 2.wav
Drum_samples/toms/Tom Sample 3.wav
Drum_samples/toms/Tom Sample 4.wav
Drum_samples/toms/Tom Sample 5.wav
Drum_samples/toms/Tom Sample 6.wav
Drum_samples/toms/Tom Sample 7.wav
Drum_samples/toms/Tom Sample 8.wav
Drum_samples/toms/Tom Sample 9.wav
Drum_samples/toms/Tom Sample 10.wav
Drum_samples/toms/Tom Sample 11.wav
Drum_samples/toms/Tom Sample 12.wav
Drum_samples/toms/Tom Sample 13.wav
Drum_samples/toms/Tom Sample 14.wav
Drum_samples/toms/Tom Sample 15.wav
Drum_samples/toms/Tom Sample 16.wav
Drum_samples/toms/Tom Sample 17.wav
Drum_samples/toms/Tom Sample 18.wav
Drum_samples/toms/Tom Sample 19.wav
Drum_samples/toms/Tom Sample 20.wav
Drum_samples/toms/Tom Sample 21.wav
Drum_samples/toms/Tom Sample 22.wav
Drum_samples/toms/Tom Sample 23.wav
Drum_samples/toms/Tom Sample 24.wav
Drum_samples/toms/Tom Sample 25.wav
Drum_samples/toms/Tom Sample 26.wav
Drum_samples/toms/Tom Sample 27.wav
Drum_samples/toms/Tom Sample 28.wav
Drum_samples/toms/Tom Sample 29.wav
Drum_samples/toms/Tom Sample 30.wav
Drum_samples/toms/Tom Sample 31.wav
Drum_samples/toms/Tom Sample 32.wav
Drum_samples/toms/Tom Sample 33.wav
Drum_samples/toms/Tom Sample 34.wav
Drum_samples/toms/Tom Sample 35.wav
Drum_samples/toms/Tom Sample 36.wav
Drum_samples/toms/Tom Sample 37.wav
Drum_samples/toms/Tom Sample 38.wav
Drum_samples/toms/Tom Sample 39.wav
Drum_samples/toms/Tom Sample 40.wav
__pycache__/utils.cpython-311.pyc
Drum_samples/_uploads_6872b7f6f23a03.31999417_6872b8328c38d6.39067529_f.rar
generated_windows.npz
background-sounds/background-room.wav
Drum_samples/#overheads/Overhead Sample 1.wav
Drum_samples/#overheads/Overhead Sample 2.wav
Drum_samples/#overheads/Overhead Sample 3.wav
Drum_samples/#overheads/Overhead Sample 4.wav
Drum_samples/#overheads/Overhead Sample 5.wav
Drum_samples/#overheads/Overhead Sample 6.wav
Drum_samples/#overheads/Overhead Sample 7.wav
Drum_samples/#overheads/Overhead Sample 8.wav
Drum_samples/#overheads/Overhead Sample 9.wav
Drum_samples/#overheads/Overhead Sample 10.wav
Drum_samples/#overheads/Overhead Sample 11.wav
Drum_samples/#overheads/Overhead Sample 12.wav
Drum_samples/#overheads/Overhead Sample 13.wav
Drum_samples/#overheads/Overhead Sample 14.wav
Drum_samples/#overheads/Overhead Sample 15.wav
Drum_samples/#overheads/Overhead Sample 16.wav
Drum_samples/#overheads/Overhead Sample 17.wav
Drum_samples/#overheads/Overhead Sample 18.wav
Drum_samples/#overheads/Overhead Sample 19.wav
Drum_samples/#overheads/Overhead Sample 20.wav
Drum_samples/#overheads/Overhead Sample 21.wav
Drum_samples/#overheads/Overhead Sample 22.wav
Drum_samples/#overheads/Overhead Sample 23.wav
Drum_samples/#overheads/Overhead Sample 24.wav
Drum_samples/#overheads/Overhead Sample 25.wav
Drum_samples/#overheads/Overhead Sample 26.wav
Drum_samples/#overheads/Overhead Sample 27.wav
Drum_samples/#overheads/Overhead Sample 28.wav
Drum_samples/#overheads/Overhead Sample 29.wav
Drum_samples/#overheads/Overhead Sample 30.wav
Drum_samples/#overheads/Overhead Sample 31.wav
Drum_samples/#overheads/Overhead Sample 32.wav
Drum_samples/#overheads/Overhead Sample 33.wav
Drum_samples/#overheads/Overhead Sample 34.wav
Drum_samples/#overheads/Overhead Sample 35.wav
Drum_samples/#overheads/Overhead Sample 36.wav
Drum_samples/#overheads/Overhead Sample 37.wav
Drum_samples/#overheads/Overhead Sample 38.wav
Drum_samples/#overheads/Overhead Sample 39.wav
Drum_samples/#overheads/Overhead Sample 40.wav
Drum_samples/#toms/Tom Sample 1.wav
Drum_samples/#toms/Tom Sample 2.wav
Drum_samples/#toms/Tom Sample 3.wav
Drum_samples/#toms/Tom Sample 4.wav
Drum_samples/#toms/Tom Sample 5.wav
Drum_samples/#toms/Tom Sample 6.wav
Drum_samples/#toms/Tom Sample 7.wav
Drum_samples/#toms/Tom Sample 8.wav
Drum_samples/#toms/Tom Sample 9.wav
Drum_samples/#toms/Tom Sample 10.wav
Drum_samples/#toms/Tom Sample 11.wav
Drum_samples/#toms/Tom Sample 12.wav
Drum_samples/#toms/Tom Sample 13.wav
Drum_samples/#toms/Tom Sample 14.wav
Drum_samples/#toms/Tom Sample 15.wav
Drum_samples/#toms/Tom Sample 16.wav
Drum_samples/#toms/Tom Sample 17.wav
Drum_samples/#toms/Tom Sample 18.wav
Drum_samples/#toms/Tom Sample 19.wav
Drum_samples/#toms/Tom Sample 20.wav
Drum_samples/#toms/Tom Sample 21.wav
Drum_samples/#toms/Tom Sample 22.wav
Drum_samples/#toms/Tom Sample 23.wav
Drum_samples/#toms/Tom Sample 24.wav
Drum_samples/#toms/Tom Sample 25.wav
Drum_samples/#toms/Tom Sample 26.wav
Drum_samples/#toms/Tom Sample 27.wav
Drum_samples/#toms/Tom Sample 28.wav
Drum_samples/#toms/Tom Sample 29.wav
Drum_samples/#toms/Tom Sample 30.wav
Drum_samples/#toms/Tom Sample 31.wav
Drum_samples/#toms/Tom Sample 32.wav
Drum_samples/#toms/Tom Sample 33.wav
Drum_samples/#toms/Tom Sample 34.wav
Drum_samples/#toms/Tom Sample 35.wav
Drum_samples/#toms/Tom Sample 36.wav
Drum_samples/#toms/Tom Sample 37.wav
Drum_samples/#toms/Tom Sample 38.wav
Drum_samples/#toms/Tom Sample 39.wav
Drum_samples/#toms/Tom Sample 40.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_1.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_2.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_3.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_4.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_5.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_6.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_7.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_8.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_9.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_10.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_11.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_12.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_13.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_14.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_15.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_16.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_17.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_18.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_19.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_20.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_21.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_22.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_23.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_24.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_25.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_26.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_27.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_28.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_29.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_30.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_31.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_32.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_33.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_34.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_35.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_36.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_37.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_38.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_39.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_40.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_41.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_42.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_43.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_44.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_45.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_46.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_47.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_48.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_49.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_50.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_51.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_52.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_53.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_54.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_55.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_56.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_57.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_58.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_59.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_60.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_61.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_62.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_63.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_64.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_65.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_66.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_67.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_68.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_69.wav
Drum_samples/hats/TKNVLT_MTE1_HAT_70.wav
__pycache__/audio_augumentations.cpython-311.pyc
__pycache__/augumentations.cpython-311.pyc
__pycache__/models.cpython-311.pyc
audio1.ogg
audio2.ogg
my_trained_model.keras
generated_windows2.npz
best_cnn_model.keras
